/* Currency*/
// $ (Dollar)
// ¢ (Cent)
// £ (Pound)
// ¤ (Currency)
// ¥ (Yen)
// ֏ (Armenian Dram)
// ؋ (Afghani)
// ߾ (Nko Dorome)
// ৲ (Bengali Rupee Mark)
// ৳ (Bengali Rupee)
// ৻ (Bengali Ganda Mark)
// ૱ (Gujarati Rupee)
// ௹ (Tamil Rupee)
// ฿ (Thai Baht)
// ៛ (Khmer Riel)
// ₡ (colon)
// ₢ (Cruzeiro)
// ₣ (French Franc)
// ₣ (Lira)
// ₥ (Mill)
// ₦ (Naira)
// ₧ (Peseta)
// ₨ (Legacy Rupee)
// ₩ (Won)
// ₪ (New Sheqel)
// ₫ (Dong)
// € (Euro)
// ₭ (Kip)
// ₮ (Tugrik)
// ₯ (Drachma)
// ₰ (German Penny)
// ₱ (Peso)
// ₲ (Guarani)
// ₳ (Austral)
// ₴ (Hryvnia)
// ₵ (Cedi)
// ₶ (Livre Tournois)
// ₷ (Spesmilo)
// ₸ (Tenge)
// ₹ (Indian Rupee)
// ₺ (Turkish Lira)
// ₻ (Nordic Mark)
// ₼ (Manat)
// ₽ (Ruble)
// ₾ (Lari)
// ₿ (Bitcoin)
// ⃀ (Som)
// ꠸ (North Indic Rupee)
// ﷼ (Rial)
// 𞋿 (Wancho Ngun)
