/* Greek letters */
// Letter forms
// α/Α
// β/Β
// γ/Γ
// δ/Δ
// ε/Ε
// ζ/Ζ
// η/Η
// θ/Θ
// ι/Ι
// κ/Κ
// λ/Λ
// μ/Μ
// ν/Ν
// ξ/Ξ
// ο/Ο
// π/Π
// ρ/Ρ
// ς/Σ
// σ/Σ
// τ/Τ
// υ/Υ
// φ/Φ
// χ/Χ
// ψ/Ψ
// ω/Ω
// Symbol forms
// ϵ/Ε
// ϑ/Θ
// ϰ/Κ
// ϖ/Ω
// ϱ/Ρ
// φ/Φ
